<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.arsnm.auto-sync-dotfiles</string>
        <key>ServiceDescription</key>
        <string>Auto sync dotfiles/configs to git repository</string>
        <key>ProgramArguments</key>
        <array>
            <string>zsh</string>
            <string>-c</string>
            <string>/Users/arsnm/code/dotfiles/sync_dotfiles.sh</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/arsnm/tmp/com.arsnm.sync-dotfiles.stdout</string>
        <key>StandardErrorPath</key>
        <string>/Users/arsnm/tmp/com.arsnm.sync-dotfiles.stderr</string>
        <key>WorkingDirectory</key>
        <string>/Users/arsnm/code/dotfiles</string>
        <key>KeepAlive</key>
        <true/>
     </dict>
  </plist>
